#root {
  margin: 0;
  box-sizing: border-box;
  text-align: center;
}

.header{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

.main img{
  width: 100px;
  height: auto;
}

h1{
  color: #0064A4;
}

.cards{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 10px;
}






