#root {
  margin: 0;
  box-sizing: border-box;
  text-align: center;
}

h1{
  color: #FFB2B2;
}

.cards{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 10px;
}






