#root {
  margin: 0;
  box-sizing: border-box;
  text-align: center;
}

.card{
    width: 348px;
    border: 2px solid #fecc07;
    border-radius: 2rem;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    background-color: white;
}

.image{
    width: 348px;
    height: 348px;
    overflow: hidden;
}

.card img{

    width: 100%;
    height: 100%;
    object-fit: fill;
    display: block;
}

.card h3, p{
    margin: 5px;
    color: #0064A4;
}